@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css');
@import url(--varcolor.css);

.logone{
    color: var(--1);
    font-weight: 600;
    font-size: 17px;
}

.logo-header img {
    display: block;
    height: 35px;
    background-position: center;
    margin: 10px;
}

.bieweb{
    background-color: var(--8);
    color: var(--1);
    font-weight: 600;
    font-size: 17px;
    margin: 2px;
    padding: 1px 3px 1px 3px;
    border-radius: 5px;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: var(--3);
    top: 0;
    left: 0;
    
    /* box-shadow: 0px 1px 10px rgb(167, 165, 165); */
}

.nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    z-index: 100;
    
}




.nav .logo-header {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 110;
}


/* 
.nav ul .lengkung1,.lengkung2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--5);
    overflow: hidden;
    top: 0;
}

.nav ul .lengkung1{
    left: -50px;
}

.nav ul .lengkung1::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--1);
    border-top-right-radius: 100px;
}

.nav ul .lengkung2{
    right: -50px;
}

.nav ul .lengkung2::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--1);
    border-top-left-radius: 100px;
} */

@media screen and (min-width:767px) {

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav #menu {
        display: flex;
        list-style: none;
        margin: 0;
        position: relative;
        align-items: center;
        justify-content: space-between;
        border-radius: 18px;
        width: 350px;
        overflow: hidden;
        margin: 0;
        height: 60px;
        z-index: 1000;
        transition: .5s;
    }

    .active {
        width: 50px;
        height: 50px;
    }

    .nav #menu ul {
        background-color: transparent;
    }

}

.nav #menu{
    background-color: transparent;
    width: 50%;
    display: flex;
    justify-content: end;
    overflow: auto;
    position: relative;
}
.nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
    flex-direction: row;
    height: 100%;
    opacity: 1;
    
}

.nav #menu ul li {
    margin: 10px;
    min-width: 60px;
    height: 40px;
    display: grid;
    place-items: center;
    transition: .5s;
}

.nav #menu ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 12px;
    display: grid;
    place-items: center;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

.nav #menu ul li a p, .back{
    font-weight: 600;
    color: var(--dr5II);
    transition: .3s;
    
}

@media (min-width:760px) {
    .nav #menu ul li a p,
        .back {
            font-size: 15px;
        }
}

.c-back{
    display: flex;
    align-items: center;
}

.title-page{
    color: var(--dr5II);
    font-size: 12px;
    margin-left: 5px;
    font-weight: 600;
    margin: 5px;
}

.back{
    color: var(--1);
    font-size: 12px;
    margin-left: 5px;
}

.active {
    width: 50px;
    height: 100px;
}

.nav #menu ul li a.active p {
    color: var(--1);
    text-decoration: underline;
    text-decoration-color: var(--8);
    text-decoration-thickness: 3px;
}

.nav .menu-buka {
    display: none;
}

.dot-head{
    width: 3px;
    height: 7px;
    background-color: var(--dr5);
    opacity: 100%;
    display: block;
    border-radius: 10px;
}








@media screen and (max-width:767px) {
    .nav {
        padding: 10px 20px;
        z-index: 110;
        height: 65px;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        position: relative;
        height: 100%;
        opacity: 1;

    }

    .nav .menu-buka {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        z-index: 103;
        width: 50px;
        height: 50px;
        padding: 6px 0px;
        transform: scale(.6);
        transition: .5s;
    }

    .nav .menu-buka
    .baris1,
    .baris3 {
        width: 60%;
        height: 5px;
        border-radius: 10px;
        background-color: var(--1);
        transition: .5s;
        opacity: 1;
        z-index: 104;
    }
    .dot-head{
        display: none;
    }

    .nav #menu {
        display: flex;
        justify-content: start;
        align-items: end;
        list-style: none;
        position: fixed;
        height: calc(100vh);
        background-color: var(--8);
        width: calc(100%);
        top: 60px;
        left: -100%;
        z-index: 100;
        transition: .7s;
        border-radius: 0;
        transform: translateX(0%);

    }

    .nav #menu ul{
        position: relative;
        height: calc(100%);
        width: calc(100%);
        transform: translateX(-100%);
        background-color: black;
        opacity: 1;
        transition: 1s;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .nav #menu ul li a {
        color: whitesmoke;
        text-decoration: none;
        font-size: clamp(0.2rem, 0.1789rem + 2.4783vw, 1rem);
        display: grid;
        place-items: center;
        width: 100%;
        height: 40px;
        font-size: 30px;
        border-radius: 10px;
        margin-left: 40px;
    }

    .nav #menu.buka ul{
        transform:translateX(0px);
        opacity: 1;
        
    }

        .nav #menu ul li {
            transform: translateX(-100%);
            transition: .5s;
            opacity: 0;
            min-width: 50px;
            margin: 5px;
        }
    
        .nav #menu.buka li {
            transform: translateX(0px);
            opacity: 1;
        }
    
        .nav #menu.buka {
    
            left: 0;
        }
    
        #baris1.silang,
        #baris3.silang,
        #baris2.silang {
            background-color: var(--7);
            width: 60%;
        }
    
        #baris1.silang {
            transform: translateY(7px) rotate(-45deg);
        }
    
        #baris3.silang {
            transform: translateY(-8px) rotate(45deg);
        }
}


